@{
    ViewData["Title"] = "Access Denied";
    Layout = "_Layout";
}


<!-- banner -->
<section class="position-relative">
	<div class="banner w3pvt-banner bg bg1" id="home" data-selector=".bg.bg1, .bg.bg2, .header10, .header11" style="background-color: rgba(0, 0, 0, 0); margin-top: 0px; background-image: url(&quot;../assets/images/error.jpg&quot;);">
		<div class="container">
			<div class="banner-text">
				<div class="slider-info">
					<div class="w3pvt-logo mt-lg-5">
						<h2 class="editContent" data-selector=".editContent" style="outline: currentcolor none medium; cursor: inherit;">Ups! Looks like you're lost...</h2>
						<p class="mt-3 editContent" data-selector=".editContent" style="outline: currentcolor none medium; cursor: inherit;">You do not have access to this resource.</p>
                        <br />
                            <div class="banner-buttons slider-info position-absolute" style="width:800px;">
                                @if (User.Identity.IsAuthenticated) {
                                    
                                    <a asp-controller="Dashboard" asp-action="Index" class="btn mr-2" data-selector="a.btn, button.btn" style="">Dashboard</a>
		                            <a asp-controller="Home" asp-action="Index" class="btn" data-selector="a.btn, button.btn" style="border-radius: 0px; font-size: 15px;">Home</a>

                                } else { 
		                        <a asp-controller="Home" asp-action="Index" class="btn mr-2" data-selector="a.btn, button.btn" style="">Home</a>
                                }
	                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>
<!-- //banner -->	

